<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>home</mat-icon>
    </button>
        <span>Newsaholic &nbsp;</span>

        <span fxShow="true" fxHide.lt-md>
      <!-- <button *ngIf="auth.isTokenExpired()" mat-button [routerLink]="['/news/top']">Top</button> -->
      <button  class="search-button" mat-button class="search-button" [routerLink]="['/news/search']">Search</button>
      <button  class="top-news" mat-button routerLink='/news/top'>Top News</button>
      <button *ngIf="!auth.isTokenExpired()" class="fav-button" mat-button [routerLink]="['/news/favourites']">Favourites</button>
      <!-- <button class="about" mat-button (click)="aboutus()">About us</button>
      
      <button class="contact" mat-button (click)="contactus()">contact us</button> -->
    </span>
        <span class="menu-spacer"></span>
        <span fxShow="true" fxHide.lt-md>
          <button class="about" mat-button (click)="aboutus()">About us</button>
      
      <button class="contact" mat-button (click)="contactus()">Contact us</button>
        </span>

        <span *ngIf="!auth.isTokenExpired()" fxShow="true" fxHide.lt-md>
      <button class="logout" mat-button (click)="changepass()">change password</button>
      <button class="logout" mat-button (click)="logout()">Logout</button>
      
    </span>
        <span *ngIf="auth.isTokenExpired()" fxShow="true" fxHide.lt-md>
     
      <button  mat-raised-button color="acent" [routerLink]="['/login']" id="loginbtn">Login</button>
    </span>
    </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a  mat-list-item [routerLink]="['/news/top']">Top News</a>
            <a *ngIf="!auth.isTokenExpired()" mat-list-item [routerLink]="['/news/favourites']">Favourites</a>
            <a  mat-list-item [routerLink]="['/news/search']">Search</a>
            <a  mat-list-item [routerLink]="['/aboutus']">About us</a>
            <a  mat-list-item [routerLink]="['/contactus']">Contact us</a>
            <a *ngIf="!auth.isTokenExpired()" mat-list-item (click)="changepass()">change password</a>
            <a *ngIf="!auth.isTokenExpired()" mat-list-item (click)="logout()">Logout</a>
            <a *ngIf="auth.isTokenExpired()" mat-list-item [routerLink]="['/login']">Login</a>
        </mat-nav-list>
    </mat-sidenav>


    <router-outlet>
    </router-outlet>