<body>
  <mat-card>
      <mat-card-content>
       
          <form class="my-form" #userForm="ngForm" >
            <div>
              <mat-form-field>
                <mat-label class="label">Enter old password</mat-label>
                <div >
                  <input style="font-family: 'Alike Angular', serif;" type="text" id="oldpassword" class="matInputdata" matInput [(ngModel)]="user.oldpassword" #username="ngModel"
                      name="oldpassword"  placeholder="old password" >
                      <!-- <mat-error *ngIf="updateForm.get('oldpassword').errors?.required">Old password is mandatory</mat-error> -->
                </div>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label class="label">Enter new password</mat-label>
                <div>
                  <input style="font-family: 'Alike Angular', serif;" type="text" id="newpassword" class="matInputdata" matInput [(ngModel)]="user.newpassword" #username="ngModel"
                      name="newpassword"  placeholder="new password" oldpassword>
                      <!-- <mat-error *ngIf="updateForm.get('newpassword').errors?.required">New password is mandatory</mat-error> -->

            </div>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button [disabled]="userForm.invalid" class="register-user" mat-raised-button color="primary" (click)="updatePassword()"
            id="btn">
            Change Password
          </button><br>
        </mat-card-actions>
      </mat-card>
      
  </body>
