@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&display=swap');

/* done */
 .logo{
    /* height: 7vh; */
    margin-right: auto;
  }
  .col-md-6{
    text-align: center;
    padding: 5%;
    border: 5%;
    padding-top: 10%;
  }
  mat-card{
    
    margin : auto;
    /* width : 50%; */
    /* padding : 25px; */
    padding-top : 70px;
    margin-left: 350px;
    display : flex;
    align-content: center;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center; 
    border-radius: 5px;
    /* width: 500px; */
    padding: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    color:white;
    transform: translate(-50%, -50%);
    /* background: #3347c8c7; */
    background: rgb(108,164,242);
    /* background: linear-gradient(90deg, rgb(55, 55, 138)0%, rgb(56, 56, 148), 100%); */
  
  }
  
  mat-card-title{
    color: rgb(89, 19, 219);
    font-size: 1.2em;
    font-family: 'Acme, sans-serif';
    padding-left: 15vw;
    padding-top: 3vh;
  
  } 
  mat-label{
    color:white;
    font-size:large;
    font-family: 'Alike Angular', serif;
  }
  body{
    background-image: url('../components/assets/password.png');
    background-repeat: no-repeat;
    background-size: 800px 700px;
    background-blend-mode: lighten;
    
  }
  @media screen and (max-width: 1026px){
    .mat-card {
    
        margin-left: 100px;
       
    } }
 @media screen and (max-width: 780px){
        .mat-card {

            margin-left: 400px;
            
        } }
 @media screen and (max-width: 800px){
        .mat-card {

            margin-left: 80px;
            
        } }
 @media screen and (max-width: 520px){
        .mat-card {

            
            margin-left: 5%;
            
        } }
 @media screen and (max-width: 400px){
        .mat-card {

          
            margin-left: 2%;
            
        } }
 @media screen and (max-width: 281px){
        .card {

            
            margin-left: 2%;
            
        } }